.container
    .row
        h1.page-title.col-lg-12 Заголовок первого уровня
    .row
        .text.col-lg-7
            p.
                Electricity vape bar Nargilia расположился на 80 кв.м в самом центре Петербурга недалеко от станции метро Звенигородская. В декоре бара использованы элементы loft-дизайна, преобладет обилие дерева и блестящей меди, грубо-сваренных металлических конструкций, массивных силовых кабелей и столбов в виде линий электропередач.
            p.
                Бар оборудован мощнейшей системой вытяжек, декорированных в стиле ноу-индастриал. В освещении будут использованы лампы Эдисона и другие различные осветительные приборы в стиле 20х годов. В Electricity vape bar Nargilia можно поиграть на олдовых приставках, встроенных в металлические корпуса из меди.
        .second-page__form.col-lg-4.col-lg-offset-1
            p.second-page__form-title Оставить отзыв
            form
                input.input_name.input__second-page-name(type="text" name="name" maxlength="20" placeholder="Ваше имя")
                input.input__feedback(type="text" name="feedback" maxlength="60" placeholder="Текст сообщения")  
                a.second-page__form-btn отправить

    .row
        img.second-page-img.col-lg-7(src='images/promo_girls.png', alt='девки парят')
        .contacts.col-lg-4.col-lg-offset-1
            p.contacts__title Контактные данные
            .contacts__info
                p.contacts__phone 980-44-35
                p.contacts__text Менеджер по продажам
            .contacts__info
                p.contacts__phone 980-44-35
                p.contacts__text Коммерчерчиский директор
            
            

            
    .row
        article.text.col-lg-7
            p
                | Electricity vape bar Nargilia расположился на 80 кв.м в самом центре Петербурга недалеко от станции метро Звенигородская. В декоре бара использованы элементы loft-дизайна, преобладет обилие дерева и блестящей меди, грубо-сваренных металлических конструкций, массивных силовых кабелей и столбов в виде линий электропередач.
            p
                | Бар оборудован мощнейшей системой вытяжек, декорированных в стиле ноу-индастриал. В освещении будут использованы лампы Эдисона и другие различные осветительные приборы в стиле 20х годов. В Electricity vape bar Nargilia можно поиграть на олдовых приставках, встроенных в металлические корпуса из меди.
    .row
        .blockquote.col-lg-7
            cite.blockquote__text Цитата
    .row   
        .two-cols.col-lg-7
    .row        
        .two-cols__inner.col-lg-7
            .two-cols__item.col-lg-5 
                h2.two-cols__title заголовок второго уровня
                p.text
                    | Мы стремимся сократить ваши расходы на вейп, без ущерба вкусу и удовольствию
                    | от парения!
            .two-cols__item.col-lg-5.col-lg-offset-1        
                h2.two-cols__title заголовок второго уровня
                p.text
                    | Vape bar — явление довольно новое для Петербурга, как и для всей России в целом. И здесь полет фантазии практически не ограничен.
    .row        
        .two-cols__inner.col-lg-7
            .two-cols__item.col-lg-5         
                h2.two-cols__title заголовок второго уровня
                p.text
                    | В нашем баре можно отлично отдохнуть как с в большой компании, устроив шумную вечеринку, так и одному, уединившись в уголке.
            .two-cols__item.col-lg-5.col-lg-offset-1
                h2.two-cols__title заголовок второго уровня
                p.text
                    | Electricity — первый вейп-бар
                    | в стиле ноу-индастриал, который привнесет много нового в зарождающуюся вейп-индустрию.
    .row         
        .table.col-lg-7
            h2.table__title название таблицы
            table.table__top
                tr
                    th Параметр
                    th Параметр
                    th Параметр
            table.table__bottom
                tr
                    td Приведенные данные
                    td Приведенные данные
                    td Приведенные данные
                tr
                    td Приведенные данные
                    td Приведенные данные
                    td Приведенные данные
                tr
                    td Приведенные данные
                    td Приведенные данные
                    td Приведенные данные
        .row    
            .list.col-lg-7
                h2.list__title 
                    span маркированный список
                ul.list__list.no-marker
                    li.list__item
                        span.orange -
                        span первый пункт
                    li.list__item
                        span.orange -
                        span первый пункт
                        ul.list__sub-list.no-marker
                            li.list__sub-item
                                span.orange -
                                span первый подпункт
                            li.list__sub-item
                                span.orange -
                                span первый подпункт
                    li.list__item
                        span.orange -
                        span первый пункт
        .row
            .list.list--number.col-lg-7
                h2.list__title нумерованный список
                ol.list__list.no-marker
                    li.list__item
                        span.orange 1.
                        span первый пункт
                    li.list__item
                        span.orange 2.
                        span первый пункт
                        ol.list__sub-list.no-marker
                            li.list__sub-item
                                span.orange а.
                                span первый пункт
                            li.list__sub-item
                                span.orange б.
                                span первый подпункт
                    li.list__item
                        span.orange 3.
                        span первый пункт


                        