.second-page-header
    background-color: #403f54;
.second-page
    background-color: #fff !important;


.blockquote 
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    text-align: center;
    margin: 70px 0;
    &__text 
        display: block;
        font-family: 'FuturaPT Heavy';
        font-size: 40px;
        padding: 40px 0px;
.contacts 
    background-color: #ecebee;
    padding: 25px 30px;
    &__title 
        padding-bottom: 30px;
    &__info 
        padding-bottom: 25px;
    &:last-child 
        padding-bottom: 10px;
    &__phone 
        font-size: 30px;
    &__text 
        font-size: 16px;
.content 
    width: 100%;

.list 
    &__title 
        font-family: 'FuturaPT Heavy';
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 35px;
    &__list 
        padding-bottom: 75px;
    &__sub-list 
        padding-left: 20px;
 
.main 
    max-width: 680px;


.page-title 
    font-family: 'FuturaPT Heavy';
    font-size: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    &:before    
        position: absolute;
        top 88px
        right: -380px;
        width: 150%;
        content: ''
        border-bottom: 1px solid #000;

.table 
    padding-bottom: 120px;
    &__title 
        font-family: 'FuturaPT Heavy';
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 35px;
    &__top 
        font-family: 'FuturaPT Heavy';
        text-align: left;
        width: 100%;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 20px 0;
        th  
            padding-top: 25px;
            padding-bottom: 25px;
    &__bottom 
        padding-top: 40px ;
        width: 100%;
        line-height: 40px; 
.two-cols 
    &__inner 
        padding-bottom: 90px;
    &__subinner 
        padding:0 40px;
    &__title 
        width: 70%;
        font-family: 'FuturaPT Heavy';
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 60px;


.text 
    line-height: 36px;
    font-family: 'FuturaPT Book';
    font-size: 20px;

.second-page-footer
    background-color: #403f54;


.input__feedback
    height: 120px;
    width: 320px;
    padding: 10px;
    margin-left: 28px;
.second-page__form
    height: 365px;
    background-color: #403f54;
.input__second-page-name
    margin-left: 28px;
    width: 320px;
.second-page__form-title
    color #fff
    padding: 25px 0 10px 50px;
.second-page__form-btn
    display: block;
    text-transform: uppercase;
    padding: 15px 100px 15px 100px;
    border: 2px solid #fb8c00;
    margin-left: 28px;
    margin-top: 25px;
    color: #fb8c00;
    width: 320px;

.orange
    color: #fb8c00;
    padding-left: 5px;
.no-marker
    list-style none