.benefits
    color: #fff;
    
    &__title
        text-align: right;
        font-size: 60px;
        font-weight: bold;
        border-bottom: 1px solid #fff;
    &__item
        &-paragraph_title
            font-size: 30px;
            padding-bottom: 60px;
            padding-top: 60px;
        &-text 
            font-size: 20px;
            line-height: 25px;
        color: #fff;
        &-circle-1
            width: 170px;
            height: 170px;
            p 
                font-size: 60px;
                text-align: center;
                background-image: url(../images/circle_1.png);
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                padding: 50px;
        &-circle-2
            width: 170px;
            height: 170px;
            p 
                font-size: 60px;
                text-align: center;
                background-image: url(../images/circle_2.png);
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                padding: 50px;        
        &-circle-3
            width: 170px;
            height: 170px;
            p 
                font-size: 60px;
                text-align: center;
                background-image: url(../images/circle_3.png);
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                padding: 50px;        
        &-circle-4
            width: 170px;
            height: 170px;
            p 
                font-size: 60px;
                text-align: center;
                background-image: url(../images/circle_4.png);
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                padding: 50px;
        