.container
    .row
        .benefits
            h2.benefits__title.col-lg-10.
                Зачем идти в вейп-бар?
    .row
            .benefits__item.col-lg-3
                .benefits__item-circle-1
                    p 1
                .benefits__item-paragraph 
                    h3.benefits__item-paragraph_title ПРИЯТНО
                    p.benefits__item-text.
                        В нашем баре можно отлично отдохнуть как с в большой компании, устроив шумную вечеринку, так и одному, уединившись в уголке. 
            .benefits__item.col-lg-3
                .benefits__item-circle-2
                    p 2
                .benefits__item-paragraph 
                    h3.benefits__item-paragraph_title АКТУАЛЬНО
                    p.benefits__item-text.
                        В нашем баре можно отлично отдохнуть как с в большой компании, устроив шумную вечеринку, так и одному, уединившись в уголке. 
            .benefits__item.col-lg-3
                .benefits__item-circle-3
                    p 3
                .benefits__item-paragraph 
                    h3.benefits__item-paragraph_title МОДНО
                    p.benefits__item-text.
                        В нашем баре можно отлично отдохнуть как с в большой компании, устроив шумную вечеринку, так и одному, уединившись в уголке. 
            .benefits__item.col-lg-3
                .benefits__item-circle-4
                    p 4
                .benefits__item-paragraph 
                    h3.benefits__item-paragraph_title ОРИГИНАЛЬНО
                    p.benefits__item-text.
                        В нашем баре можно отлично отдохнуть как с в большой компании, устроив шумную вечеринку, так и одному, уединившись в уголке. 
