.tabs-list 
    padding: 0;
    list-style: none;

.tabs-link 
    display: inline-block;
    white-space: nowrap;
    margin-right: 35px;

.tabs-link a 
    display: block;
    background-color: rgba(0,0,0,0.2);
    text-decoration: none;
    padding: 20px 45px 20px 45px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;

.tabs-link a:hover, .tabs-link.active a 
    background-color: #fb8c00;

.tab-item 
    display: none;
    color: #fff;
    

.tab-item.active 
    display: block;
