.tabs-list 
    padding: 0;
    list-style: none;

.tabs__caption li 
    display: inline-block;
    white-space: nowrap;
    margin-left: 31px;
    font-family 'FuturaPT Heavy'
    text-transform uppercase
.tabs__caption li:first-child
        margin-left: 0px;

.tabs__caption a 
    display: block;
    background-color: rgba(0,0,0,0.2);
    text-decoration: none;
    padding: 20px 45px 20px 45px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;

.tabs__caption a:hover, .tabs__caption li.active  
    background-color: #fb8c00;
    transition: 0.4s;

.tabs__content
    display: none;
    color: #fff;
    font-family 'FuturaPT Book'
    line-height: 36px;
    

.tabs__content.active 
    display: block;
