.container
    .row
        .tabs.col-lg-12
            ul.tabs-list
                li.tabs-link.active
                    a(href='#tab_01') ЧТО ТАКОЕ ВЕЙП-БАР?
                li.tabs-link
                    a(href='#tab_02') МАГАЗИН
                li.tabs-link
                    a(href='#tab_03') ВОРКШОП
                li.tabs-link
                    a(href='#tab_04') МЕНЮ
                li.tabs-link
                    a(href='#tab_05') VAPESTATION
     .row   
        .tabs-content.col-lg-7.col-lg-offset-2
            #tab_01.tab-item.active
                p.
                    Electricity vape bar Nargilia расположился на 80 кв.м в самом центре Петербурга недалеко 
                    от станции метро Звенигородская. В декоре бара использованы элементы loft-дизайна, преобладет обилие дерева и блестящей меди, грубо-сваренных металлических конструкций, массивных силовых кабелей и столбов в виде линий электропередач.
                p.
                    
                    Бар оборудован мощнейшей системой вытяжек, декорированных в стиле ноу-индастриал. 
                    В освещении будут использованы лампы Эдисона и другие различные осветительные приборы в стиле 20х годов. В Electricity vape bar Nargilia можно поиграть на олдовых приставках, встроенных в металлические корпуса из меди.
            #tab_02.tab-item
                 p.
                    Electricity vape bar Nargilia расположился на 80 кв.м в самом центре Петербурга недалеко 
                    от станции метро Звенигородская. В декоре бара использованы элементы loft-дизайна, преобладет обилие дерева и блестящей меди, грубо-сваренных металлических конструкций, массивных силовых кабелей и столбов в виде линий электропередач.
                 p.
                    
                    Бар оборудован мощнейшей системой вытяжек, декорированных в стиле ноу-индастриал. 
                    В освещении будут использованы лампы Эдисона и другие различные осветительные приборы в стиле 20х годов. В Electricity vape bar Nargilia можно поиграть на олдовых приставках, встроенных в металлические корпуса из меди.
            #tab_03.tab-item
                 p.
                    Electricity vape bar Nargilia расположился на 80 кв.м в самом центре Петербурга недалеко 
                    от станции метро Звенигородская. В декоре бара использованы элементы loft-дизайна, преобладет обилие дерева и блестящей меди, грубо-сваренных металлических конструкций, массивных силовых кабелей и столбов в виде линий электропередач.
                 p.
                    
                    Бар оборудован мощнейшей системой вытяжек, декорированных в стиле ноу-индастриал. 
                    В освещении будут использованы лампы Эдисона и другие различные осветительные приборы в стиле 20х годов. В Electricity vape bar Nargilia можно поиграть на олдовых приставках, встроенных в металлические корпуса из меди.
            #tab_04.tab-item
                 p.
                    Electricity vape bar Nargilia расположился на 80 кв.м в самом центре Петербурга недалеко 
                    от станции метро Звенигородская. В декоре бара использованы элементы loft-дизайна, преобладет обилие дерева и блестящей меди, грубо-сваренных металлических конструкций, массивных силовых кабелей и столбов в виде линий электропередач.
                 p.
                    
                    Бар оборудован мощнейшей системой вытяжек, декорированных в стиле ноу-индастриал. 
                    В освещении будут использованы лампы Эдисона и другие различные осветительные приборы в стиле 20х годов. В Electricity vape bar Nargilia можно поиграть на олдовых приставках, встроенных в металлические корпуса из меди.
            #tab_05.tab-item
                 p.
                    Electricity vape bar Nargilia расположился на 80 кв.м в самом центре Петербурга недалеко 
                    от станции метро Звенигородская. В декоре бара использованы элементы loft-дизайна, преобладет обилие дерева и блестящей меди, грубо-сваренных металлических конструкций, массивных силовых кабелей и столбов в виде линий электропередач.
                 p.
                    
                    Бар оборудован мощнейшей системой вытяжек, декорированных в стиле ноу-индастриал. 
                    В освещении будут использованы лампы Эдисона и другие различные осветительные приборы в стиле 20х годов. В Electricity vape bar Nargilia можно поиграть на олдовых приставках, встроенных в металлические корпуса из меди.
