.owl-carousel
    width: 100%;
    margin-top: 80px; 
    img 
        // object-fit: cover
        height: 660px;
        width: 730px;
    &-item  
        width: 730px;
.owl-item
    width: 730px !important
    object-fit: cover
.gallery-container
    margin-left: 0;
    margin-right: 0;
    width: 100%;
.owl-next
    position: absolute;
    top: 40%;
    right: 5px;
    background-image: url(../svg/arrow_rignt.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 75px;
    height: 75px;
.owl-next:hover
    background-image: url(../images/arrow.png);
.owl-prev
    position: absolute;
    top: 40%;
    left: 75px;
    background-image: url(../svg/arrow_left.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 75px;
    height: 75px;
.owl-prev:hover
    background-image: url(../images/arrow.png);
    transform rotate(180deg)