.container.gallery-container
    .row
        .owl-carousel.col-lg-12.loop
            .owl-carousel-item 
                img(src="images/photo1.png", alt="alt")
            .owl-carousel-item 
                img(src="images/photo2.png", alt="alt")
            .owl-carousel-item 
                img(src="images/photo3.png", alt="alt") 
            .owl-carousel-item 
                img(src="images/photo1.png", alt="alt")
            .owl-carousel-item 
                img(src="images/photo2.png", alt="alt")
            .owl-carousel-item 
                img(src="images/photo3.png", alt="alt") 
