.owl-carousel
    margin-top: 80px; 
    img 
        // object-fit: cover
        height: 660px;
        width: 730px;
    &-item  
        width: 730px;
.owl-item
    width: 730px !important
.gallery-container
    margin-left: 0;
    margin-right: 0;