.header
    .container
        .row
            .header__business.col-lg-3
                a(href="").header__business-button.
                    Для бизнес-партнеров
            .header__logo.col-lg-4.col-lg-offset-1
                a(href="")
                    img.header__logo-img(src="images/Logo.png", alt="Логотип")
                    
            .header__phone.col-lg-3.col-lg-offset-1
                span.header__phone-number 980-44-35
                a(href="").header__phone-order Заказать звонок
        .row
            .header__nav.col-lg-12
                ul
                    li 
                        a(href="") О нас 
                    li 
                        a(href="") Сотрудничество 
                    li 
                        a(href="") Франчайзинг 
                    li 
                        a(href="") Мероприятие  
                    li 
                        a(href="") Блог 
                    li 
                        a(href="") Бронь 
                    li 
                        a(href="") Контакты        