.header
    background-color:(rgba(0,0,0,0.5));
    &__business
        margin-top: 55px;
        a 
            text-decoration: none;
            &:hover
                color: #ff7435;
                border 1px solid #ff7435;
        &-button
            text-align: center;
            display: block;
            border: 1px solid #fff;
            color: #fff;
            padding: 10px;
            font-size: 20px;
    &__phone
        margin-top: 60px;
        &-number
            color: #fff;
            font-size: 30px;
        &-order 
            color: #ff7435;
            text-decoration: none;
            display: block;
            font-size: 16px;
    &__logo
        margin-top: 35px;
        &-img
            width: 320px;
            height: 75px;
    &__nav
        position: relative;
        ul 
            margin-top: 60px;
            margin-bottom: 40px;
        li  
            display: inline-block;
            padding-right: 65px;
            a   
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                &:hover
                    color: #ff7435;
                    