.footer
    position: relative;
    margin-top: 80px;
    &__logo
        margin-bottom: 70px;
    &__business
        &-button
            margin-top: 20px;
            margin-bottom: 70px;
            text-decoration: none;
    &__item 
        li
            list-style-type: none;
            a 
                color: #fff;
                text-decoration: none;

        &-email
            font-family 'FuturaPT Book'
            color: #fb8c00;
            margin-top: 40px;
        &-adress
            font-family 'FuturaPT Book'
            color: #fff;
            margin-bottom: 70px;
        &-social
           font-family 'FuturaPT Book'
           color: #5e5967; 
           

.facebook
    padding-top: 20px;
    font-size: 20px;
    display: block;
    &:before 
        content: '';
        position: absolute;
        left: 5px;
        top: 70px;
        width: 20px;
        height: 20px;
        background-image: url(../svg/facebook.svg);
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
.vk
    padding-top: 20px;
    display: block;
    font-size: 20px;
    &:before 
        content: '';
        position: absolute;
        left: 5px;
        top: 116px;
        width: 20px;
        height: 20px;
        background-image: url(../svg/vk_logo.svg);
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
.youtube
    padding-top: 20px;
    font-size: 20px;
    display: block;
    &:before 
        content: '';
        position: absolute;
        left: 5px;
        top: 160px;
        width: 20px;
        height: 20px;
        background-image: url(../svg/youtube_logo.svg);
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
.copyright
    color: #5e5967;
    padding-bottom: 60px;
    