.franchising
    .container
        .row
            .franchising__image.col-lg-4
                img(src="images/Lamp.png", alt="alt")
                 
            .franchising__text.col-lg-6.col-lg-offset-2
                h2.franchising__text-title Франчайзинг
                p.
                    Есть идея открыть свое дело? У нас есть отличное предложение! Electricity vape bar Nargilia расположился на 80 кв.м в самом центре Петербурга недалеко от станции метро Звенигородская. В декоре бара использованы элементы loft-дизайна, преобладет обилие дерева и блестящей меди, грубо-сваренных металлических конструкций, массивных силовых кабелей и столбов в виде линий электропередач.
                a.franchising__text-button УЗНАТЬ БОЛЬШЕ