.franchising
    background-image: url(../images/lamp.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    

    &__text
        // margin-top: 200px;
        color: #fff;
        font-size: 20px;
        p
            margin-bottom: 100px;
        &-title
            font-size: 60px;
            margin-top: 150px;
        &-button
            padding 10px 100px 10px 100px
            border 2px solid #fa8f01
            color: #fa8f01;
            margin-bottom: 230px; 
            display: block;
            width: 376px;
            text-decoration: none;