.franchising
    background-image: url(../images/lamp.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    

    &__text
        // margin-top: 200px;
        color: #fff;
        font-size: 20px;
        p   
            font-family 'FuturaPT Book'
            line-height: 36px;
            margin-bottom: 100px;
        &-title
            font-family 'FuturaPT Heavy'
            font-size: 60px;
            margin-top: 150px;
            &:before 
                position: absolute;
                top 240px
                right: 0;
                width: 100%;
                content: ''
                border-bottom: 1px solid #fff;
        &-button
            font-family 'FuturaPT Heavy'
            padding 10px 150px 10px 150px
            width: 465px;
            border 2px solid #fa8f01
            color: #fa8f01;
            margin-bottom: 230px; 
            display: block;
            text-decoration: none;