.blog
    margin-top: 150px;
    &__title
        font-size: 60px;
        font-family 'FuturaPT Heavy'
        color: #fff;
        &:before 
            position: absolute;
            top 75px;
            right: -528px;
            width: 154%;
            content: ''
            border-bottom: 1px solid #fff;
    &__link
        font-size: 16px;
        font-family 'FuturaPT Heavy'
        color: #fb8c00;
        text-transform: uppercase;
        margin-top: 100px;
        text-decoration: none;
    &__item
        &-img
            width: 90%;
            margin-bottom: 40px;
            
        &-text 
            font-family 'FuturaPT Book'
            font-size: 20px;
            line-height: 30px;
            width: 75%;
            color: #fff;
            margin-bottom: 25px;
.more-info
    text-transform: uppercase;
    color: #fb8c00;
    font-family 'FuturaPT Heavy'
    font-size: 14px;
    display: block;
    margin-bottom: 150px;
    text-decoration: none;
