.blog
    .container
        .row
            h2.blog__title.col-lg-10 Блог
            a(href="#", title="title").blog__link.col-lg-2 Читать все отзывы
        .row
            .blog__item.col-lg-4
                img.blog__item-img(src="images/blog1.png", alt="alt")
                p.blog__item-text.
                    3 Июня на техническом открытии vape бара Electricity пройдет открытая дегустация жижки питерского производства Dynasty of VAPE. На дегусте будет представлена вся линейка. Мы приверженцы бюджетного и качественного вейпа. Изначально, люди уходящие от аналога в пользу ЭС планируют сохранить свои средства.
                a(href="").more-info подробнее
            .blog__item.col-lg-4
                img.blog__item-img(src="images/blog2.png", alt="alt")
                p.blog__item-text.
                    3 Июня на техническом открытии vape бара Electricity пройдет открытая дегустация жижки питерского производства Dynasty of VAPE. На дегусте будет представлена вся линейка. Мы приверженцы бюджетного и качественного вейпа. Изначально, люди уходящие от аналога в пользу ЭС планируют сохранить свои средства.
                a(href="").more-info подробнее
            .blog__item.col-lg-4
                img.blog__item-img(src="images/blog3.png", alt="alt")
                p.blog__item-text.
                    3 Июня на техническом открытии vape бара Electricity пройдет открытая дегустация жижки питерского производства Dynasty of VAPE. На дегусте будет представлена вся линейка. Мы приверженцы бюджетного и качественного вейпа. Изначально, люди уходящие от аналога в пользу ЭС планируют сохранить свои средства.
                a(href="").more-info подробнее 