.map#map
.map-container
    .maps__form
        p.maps__form-title Для бронирования столика заполните форму:
        form(action="")
            input.input_name(type="text" name="name" maxlength="20" placeholder="Ваше имя")
            input.input_phone(type="text" name="phone" maxlength="20" placeholder="Телефон ")
            input.input_date(type="text" name="date" maxlength="16" placeholder="06.06.2016")
            input.input_time(type="text" name="time" maxlength="4" placeholder="23:00")
        a(href="").maps__form-btn Забронировать