.ivents
    width: 100%;
.masonry 
	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100vw;
	// font-size: 0; 
.masonry__item
    background-color: #251e30;
    width: 33.3%;
    transition: 0.8s opacity;
    color: #fff;
.masonry img  
	width: 33.3%;
	transition: 0.8s opacity;

.masonry:hover img 
	opacity: 0.3;

.masonry:hover img:hover 
	opacity: 1;
.masonry__item-btn
    width: 270px;
    margin-left: 55px;
    padding-left: 65px;
    padding-right: 50px;
    