.container
    .row
        .ivents
            .masonry
                img(src="images/ivents1.png", alt="alt")
                img(src="images/ivents2.png", alt="alt")
                img(src="images/ivents3.png", alt="alt")
                img(src="images/ivents4.png", alt="alt")
                .masonry__item
                    h2.masonry__item-title Мероприятия
                    p.masonry__item-text.
                        3 Июня на техническом открытии vape бара Electricity пройдет открытая дегустация жижки питерского производства Dynasty of VAPE. 
                        На дегусте будет представлена вся линейка. 
                        Мы приверженцы бюджетного и качественного вейпа.
                    a(href="").franchising__text-button.masonry__item-btn УЗНАТЬ БОЛЬШЕ 
                img(src="images/ivents5.png", alt="alt")
                img(src="images/ivents6.png", alt="alt")
                img(src="images/ivents7.png", alt="alt")
                img(src="images/ivents8.png", alt="alt")
                img(src="images/ivents9.png", alt="alt")
                        
