.cooperation
    &__btn
        font-family 'FuturaPT Heavy'
        text-align: center;
        padding 10px 140px 10px 140px
        width: 442px;
        border: 2px solid #000;
        margin-bottom: 170px;
        text-decoration: none;
        color: #000;
    background-color: #ffbd00;
    &__text
        padding-top: 120px;
        color: #000;
        h2  
            font-family 'FuturaPT Heavy'
            border-bottom: 1px solid #000;
            text-align: right;
            font-size: 60px;
            &:before 
                position: absolute;
                bottom -1px
                left: -100%;
                width: 100%;
                content: ''
                border-bottom: 1px solid #000;
        p 
            font-size: 20px;
            font-family 'FuturaPT Book'
            line-height: 36px;
    &__image
        margin-top: 180px;
        background-image: url(../images/illustrations.png);
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 515px;
        height: 475px;
        
