doctype html
html(lang='ru')
    include blocks/head.jade
    body.index
        .header
            .container
                .row
                    .header__business.col-lg-3
                        a(href="").header__business-button.
                            Для бизнес-партнеров
                    .header__logo.col-lg-2.col-lg-offset-2
                        a(href="")
                            img.header__logo-img(src="images/Logo.png", alt="Логотип")
                            
                    .header__phone.col-lg-2.col-lg-offset-3
                        span.header__phone-number 980-44-35
                        a(href="").header__phone-order.popup_link Заказать звонок
                .row
                    .header__nav
                        ul
                            li 
                                a(href="second-page.html") О нас 
                            li 
                                a(href="second-page.html") Сотрудничество 
                            li 
                                a(href="second-page.html") Франчайзинг 
                            li 
                                a(href="second-page.html") Мероприятие  
                            li 
                                a(href="second-page.html") Блог 
                            li 
                                a(href="second-page.html") Бронь
        
                            li 
                                a(href="second-page.html") Контакты        
        include blocks/main-photo/main-photo.jade
        include blocks/about/about.jade
        include blocks/gallery/gallery.jade
        include blocks/benefits/benefits.jade
        include blocks/cooperation/cooperation.jade
        include blocks/franchising/franchising.jade
        include blocks/ivents/ivents.jade
        include blocks/blog/blog.jade
        include blocks/partners/partners.jade
        include blocks/map/map.jade
        .footer
            .container
                .row
                    .footer__logo.col-lg-4
                        a(href="")
                            img.header__logo-img(src="images/Logo.png", alt="Логотип")
                    .footer__business.col-lg-3.col-lg-offset-1
                        a(href="").header__business-button.footer__business-button.
                            Для бизнес-партнеров
                .row
                    .footer__item.col-lg-3
                        span.header__phone-number 980-44-35
                        a(href="").header__phone-order.popup_link Заказать звонок
                        p.footer__item-email electricity@vapebar.ru
                        p.footer__item-adress Улица правды, дом 9
                    .footer__item.col-lg-3
                        ul
                            li 
                                a(href="") Что такое вейп-бар?
                        ul
                            li 
                                a(href="") Магазин
                        ul
                            li 
                                a(href="") Воркшоп
                        ul
                            li 
                                a(href="") Меню
                        ul
                            li 
                                a(href="") VeipStation          
                    .footer__item.col-lg-3
                        ul
                            li 
                                a(href="") Сотрудничество
                        ul
                            li 
                                a(href="") Франшиза
                        ul
                            li 
                                a(href="") Мероприятия
                        ul
                            li 
                                a(href="") Блог
                        ul
                            li 
                                a(href="") Контакты 
                    .footer__item.col-lg-3
                        p.footer__item-social Мы в соцсетях:
                        ul
                            li  
                                a.facebook(href="") Facebook
                            li  
                                a.vk(href="") ВКонтакте
                            li  
                                a.youtube(href="") YouTube
                p.copyright © 2016 Electricity Vape bar Nargilia

        include blocks/popup/popup.jade
    include blocks/bottom.jade
        
    
    