doctype html
html(lang='ru')
    include blocks/head.jade
    body
        include blocks/main-menu/main_menu.jade
        include blocks/main-photo/main-photo.jade
        include blocks/about/about.jade
        include blocks/benefits/benefits.jade
        include blocks/cooperation/cooperation.jade
        include blocks/franchising/franchising.jade
        include blocks/map/map.jade
        include blocks/popup/popup.jade
    include blocks/bottom.jade
        
    
    